# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Vite cache
.vite/

# Local environment files
.env
.env.*.local

# Editor-specific files (VS Code)
.vscode/
.idea/
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Mac system files
.DS_Store

# Temporary files
*.tmp
*.swp

# npm cache
.npm/
